.background-login-page {
    text-align: center;
    background-image: url("../images/background.jpg");
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    height: 100%;
}

.login-form {
    background: rgba(0, 0, 0, 0.75);
    padding: 15px;

}


html, body {
    height: 100%;
}

#root{
    height: 100%;
}

.background {
    background-color: #29292E;
    color: white;
    display: flex;
    min-height: 100%;

}